/* css reset styles */
html, body, div, p, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, iframe, table, th, td {
	margin: 0;
	padding: 0;
}
img {
	border: 0 none;
	vertical-align: top;
	max-width: 100%;
}
ul, li {
	list-style-type: none;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 14px;
}
body, input, select, button, textarea {
	font-size: 12px;
	font-family: Tahoma, Geneva, sans-serif;
}
button {
	cursor: pointer;
}
i, em, cite {
	font-style: normal;
}
body {
	background: #fff;
	color: #363636;
	line-height: 1.2;
}
a, a:link {
	color: #222;
	text-decoration: none;
}

a:active, a:hover {
	text-decoration: none;
}
a:focus {
	outline: none;
}
.fixed:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
.fixed {
	display: block;
	min-height: 1%;
}
*html .fixed {
	height: 1%;
}
.clear {
	diplay: block!important;
	float: none!important;
	clear: both;
	overflow: hidden;
	width: auto!important;
	height: 0!important;
	margin: 0 auto!important;
	padding: 0!important;
	font-size: 0;
	line-height: 0;
}
.more {
	float: right;
}
.more a {
	font-weight: normal;
	font-size: 12px;
}
.fl, .fr {
	display: inline;
	float: left;
}
.fr {
	float: right;
}




/* header styles */
html{
	background: #ccc;
}
body{
	background: #1c1948;
	width: 640px;
	margin:0 auto;
	
}
.header{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 1010;
}
.h-top{
	height: 62px;
	line-height: 62px;
	padding:0 26px;
	background: #474747;
	color: #fff;
	font-size: 26px;

}
.h-top span{
	color: #ffde00;
}
.h-menu{
	height: 125px;
	line-height: 125px;
	position: relative;
	background: rgba(0, 0, 0, 0);
	transition: background 1s;
}
.scrolledDown{
  background: #1c1948;
  
}
.h-menu img{
	height: 62px;
	vertical-align: middle;
	margin-left: 26px;
}
.h-btn{
	width: 100px;
	height: 100px;
	background: #fcc719 url(../images/h-btn.png) no-repeat center center;
	position: absolute;
	top:18px;
	right: 17px;
}

/* nav styles*/
/**
* Navigation Defaults
*/
.nav {
  position: absolute;
  z-index: 100;
  opacity: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 99999;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}
.nav--active .nav {
  opacity: 1;
  background-color: #333;
}
.nav__list {
  margin: 0;
  padding: 40px ;
}
.nav__item {
  list-style-type: none;
  text-align: left;
  height: 120px;
  line-height: 120px;
}
.nav__link {
  font-size: 1.3em;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  opacity: 1;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}
/* Default navigation icon */
.nav__trigger {
	width: 74px;
	height: 68px;
	background: #31c87e ;
	border-radius: 10px;
	position: absolute;
	top:30px;
	right: 17px;
	text-align: center;
	line-height: 68px;
	z-index: 200;
}
.nav--active .nav__trigger {
  opacity: 0.5;
}
.nav__icon {
  display: inline-block;
  position: relative;
  width: 38px;
  height: 7px;
  background-color: #c3181c;
  -webkit-transition-property: background-color, -webkit-transform;
  transition-property: background-color, -webkit-transform;
  transition-property: background-color, transform;
  transition-property: background-color, transform, -webkit-transform;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}
.nav__icon:before,
.nav__icon:after {
  content: '';
  display: block;
  width: 38px;
  height: 7px;
  position: absolute;
  background: #c3181c;
  -webkit-transition-property: margin, -webkit-transform;
  transition-property: margin, -webkit-transform;
  transition-property: margin, transform;
  transition-property: margin, transform, -webkit-transform;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}
.nav__icon:before {
  margin-top: -12px;
}
.nav__icon:after {
  margin-top: 12px;
}
/* Don't nest if you don't have to. */
/**
* Style #1
*/
.nav {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top:0;
  z-index: 120;
}
.nav__link {
  opacity: 0;
  font-size: 42px;
  -webkit-transition-delay: 500ms;
          transition-delay: 500ms;
}
.nav--active .nav__link {
  opacity: 1;
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #fff;
}
.nav--active .nav {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.nav--active .nav__icon {
  background: rgba(0, 0, 0, 0);
}
.nav--active .nav__icon:before {
  margin-top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.nav--active .nav__icon:after {
  margin-top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}



#demo2{
}
.am-with-fixed-navbar .am-gotop-fixed {
    bottom: 140px;
}



/* m-hot styles */
.m-hot{
	padding:0 25px 20px;
	background: #1c1948;
	overflow: hidden;
}
.m-hot li{
	float: left;
	margin:0 5px;
	text-align: center;
}
.m-hot li h3{
	font-size: 28px;
	color: #fff;
	font-family: 黑体;
	margin:24px 0 7px;
}
.m-hot li span{
	display: block;
	font-size: 22px;
	color: #00c862;
	font-family: 黑体;
	margin-bottom: 50px;
}

/* m-case styles */
.m-case{
	padding-bottom: 53px;
	margin-top: -127px;
	background: url(../images/m-case-bg.png) no-repeat;
}
.m-case-hd{
	padding: 130px 25px 0;
}
.m-case-hd h3{
	font-size: 45px;
	color: #fff;
	font-family: 方正正中黑简体;
	margin:17px 5px 10px 0;
}
.m-case-hd h3 small{
	font-size: 23px;
	color: #fff;
	font-family: 幼圆;
}
.m-case-hd span{
	font-size: 12px;
	color: #8a8a8a;
	text-transform: uppercase;
	display: inline-block;
	width: 400px;
}
.m-case-bd{
	overflow: hidden;
	padding:0 25px;
	text-align: center;
	margin:42px 0 0 0 ;
}
.m-case-bd li{
	margin: 0 7px 16px;
	float: left;
}
.m-case-bd li img{
	width: 280px;
	height: 320px;
}
.m-case-bd li:first-child img{
	width: 594px;
	height: 317px;
}
.m-case-bd li:last-child img{
	width: 594px;
	height: 317px;
}


/* m-pro styles */
.m-pro{
	background: #27ab71;
	overflow: visible;
	padding:0 0 60px 0;
}
.m-pro-hd{
	padding: 17px 25px 0;
	position: relative;
}
.m-pro-hd > img{
	position: absolute;
	right: 0;
	top:-54px;
}
.m-pro-hd h3{
	font-size: 45px;
	color: #fff;
	font-family: 方正正中黑简体;
	margin:17px 5px 10px 0;
}
.m-pro-hd h3 small{
	font-size: 23px;
	color: #fff;
	font-family: 幼圆;
}
.m-pro-hd span{
	font-size: 12px;
	color: #fff;
	text-transform: uppercase;
	display: inline-block;
	width: 400px;
}

.m-pro-bd{
	margin:20px 25px 0;
	background: #27ab71;
	overflow: hidden;
}
.m-pro-bd ul{
	overflow: hidden;
	margin-top: 20px;
}
.m-pro-bd li{
	float: left;
	width: 290px;
	background: #fff;
	margin:0 0 15px 0;
}
.m-pro-bd li img{
	width: 289px;
	height: 172px;
}
.m-pro-bd li:nth-child(even){
	margin-left: 10px;
}
.m-pro-bd .pro-txt{
	padding:20px;
}
.m-pro-bd .pro-txt h3{
	font-size: 24px;
	color: #454545;
	margin-bottom: 15px;
}
.m-pro-bd .pro-txt span{
	font-size: 16px;
	color: #808080;
	margin-bottom: 15px;
}
.m-pro-bd .pro-txt p{
	font-size: 16px;
	color: #808080;
	line-height: 26px;
}


/* m-contact styles */
.m-contact{
	background: #b61f26;
	overflow: visible;
	padding:0 0 20px 0;
}
.m-contact-hd{
	padding: 17px 25px 0;
	position: relative;
}
.m-contact-hd > img{
	position: absolute;
	right: 0;
	top:-54px;
}
.m-contact-hd h3{
	font-size: 45px;
	color: #fff;
	font-family: 方正正中黑简体;
	margin:17px 5px 10px 0;
}
.m-contact-hd h3 small{
	font-size: 23px;
	color: #fff;
	font-family: 幼圆;
}
.m-contact-hd span{
	font-size: 12px;
	color: #fff;
	text-transform: uppercase;
	display: inline-block;
	width: 400px;
}
.m-contact-bd{
	overflow: hidden;
	background: #b61f26;
	padding:20px 25px 0;
}
.m-contact-bd p{
	font-size: 24px;
	color: #ffffff;
	line-height: 36px;
}
.m-contact-bd .contact-txt{
	float: left;
	width: 328px;
	margin:0 0 0 22px;

}



/* m-concern styles */
.m-concern{
	border-top: 1px solid #d9d9d9;
	overflow: hidden;
	padding: 20px 0 75px 25px;
	background: #b61f26;
}
.m-concern span{
	font-size: 30px;
	color: #fff;
	float: left;
}
.m-concern ul{
	float: left;
	overflow: hidden;
}
.m-concern li{
	float: left;
	margin:0 10px;
}

/* navbar styles */
.navbar{
	position: fixed;
	left: 0;
	bottom: 0;
	height: 110px;
	background: #2e2e2e;
	width: 100%;
	z-index: 999;
}
.navbar li{
	float: left;
	text-align: center;
	width: 25%;
	margin:20px 0;
}
.navbar li span{
	display: block;
	color: #fff;
	margin:10px 0;
	font-size: 20px;
}
